<%= link_to "Bladesmiths Index", "/blade_smiths" %><br>
<%= link_to "Blades Index", "/blades" %><br>
<%= link_to "New Bladesmith", "/blade_smiths/new" %>

<% @blade_smiths.each do |blade_smith| %>
<h1><%= blade_smith.name %></h1>
<% end %>
